.inedex-container {
    margin: 0 auto;
    padding-top: 50px;
    position: relative;
    width: 75%;
    height: auto;
    min-width: 600px;
    min-height: 1500px;
    background-color: transparent;
}

.layui-nav {
    width: 100%;
    background-color: #0f88eb;
}

.layui-layout-right {
    margin-right: 20px;
}

.titlefloat {
    float: left;
}

#particles-js {
    height: 2000px;
    background-color: #f7fafc;
}

.layui-card-footer {
    padding-left: 20px;
    height: auto;
    font-size: 12px;
    background-color: #FFFFFF;
}

.title {
    font-family: "Microsoft YaHei";
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
}

.content {
    font-size: 16px;
    padding: 20px;
    font-family: "Microsoft YaHei";
    font-weight: lighter;
    text-align: left;
}

#show {
    padding-top: 20px;
}

.layui-icon {
    font-size: 10px;
}


.nav-a:hover, .news-card:hover {
    text-decoration: none;
}



.pageSelect {
    margin-top: 20px;
    padding-left: 20px;
}

.news-img {
    padding-top: 20px;
    margin-left: 20px;
    height: 250px;
}

.img {
    width: auto;
    height: 100%;
    background-color: #D0D0D0;
}

.layui-icon {
    margin-right: 5px;
}