.inedex-container {
    margin: 0 auto;
    padding-top: 50px;
    position: relative;
    width: 75%;
    height: auto;
    min-width: 600px;
    min-height: 1500px;
    background-color: transparent;
}

.layui-nav {
    width: 100%;
    background-color: #0f88eb;
}

.layui-layout-right {
    margin-right: 20px;
}

.titlefloat {
    float: left;
}

#particles-js {
    height: 3500px;
    background-color: #f7fafc;
}

.layui-card-footer {
    padding-left: 10px;
    height: 20px;
    font-size: 12px;
    background-color: snow;
}

.title {
    font-family: "Microsoft YaHei";
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
}

.content {
    font-size: 16px;
    padding: 35px;
    font-family: "Microsoft YaHei";
    font-weight: lighter;
    text-align: left;
}

#show{
    padding-top: 30px;
}

.layui-icon {
    font-size: 10px;
}

.nav-a:hover{
    text-decoration: none;
}

.pageSelect{
    margin-top: 20px;
    padding-left: 20px;
}

.news-img{
    padding-top: 20px;
    height: 270px;
}
.img{
    width: 100%;
    height: 100%;
    background-color: #D0D0D0;
}